/*-----------------------Common__Section---------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  padding: 133px 30px;
  block-size: 100%;
  margin: auto; 
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/*-----------------------Content---------------------------*/
.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

/*-----------------Left_side-Result---------------------------*/
.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

/*Video*/
.result__video-container {
  display: flex;
  height: 388px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*Search_form_Common*/
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0;
  padding-left: 0;
}

/*Поиск_*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

/*заголовок*/
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  vertical-align: top;
}

/*Лэйбл-к*/
.search-form__label {
  width: fit-content;
  cursor: pointer;
  letter-spacing: 0px;
  display: flex;
}

/*Лэйбл-к*/
.search-form__label:not(:last-child) {
  margin-right: 15px;
}

/*Поле ввода*/
.search-form__textfield {
  border: none;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  min-width: 225px;
  height: 27px;
  appearance: none;
}

/*Плэйсхолдер*/
.search-form__textfield::placeholder {
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

/*Активное тестовое поле*/
.search-form__textfield:active {
  border: none;
}

/*Сброс обводки при фокусе*/
.search-form__textfield:focus {
  outline: none;
}

/*Обводка при фокусе*/
.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

/*Обертка-чекбокс*/
.search-form__checkbox-list {
  display: flex;
  width: 212px;
}

/*Чекбокс-квадратики*/
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  outline: 1px solid #FFF;
  outline-offset: -1px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
}

/*Чекбокс-within*/
input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #FFF;
  margin: 2px;
}

/*hover*/
.search-form__label:hover .search-form__label-text,
.search-form__label:hover .search-form__pseudo-checkbox {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

/*---Button_Common----*/
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: inherit; 
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: 1px solid #FFF;
  outline-offset: -1px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

/*Button-left*/
.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

/*Cброс обводки*/
.button:focus {
  border: none;
}

/*Обводка при фокусе*/
.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
  border: 1px solid #FFF;
}

/* Обводка для активной кнопки */
.button:active {
  background-color: #545050; /* Цвет при активации */
  outline: 1px solid #FFF;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

/*-----------------Right_side-Content---------------------------*/
.content__details {
  width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*Title*/
.title {
  height: 210px;
  font-family: 'Oswald' , sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase; 
  letter-spacing: 0.2px;
}

.content__accent {
  color: #545050;
  line-height: 97%;
  letter-spacing: 2px;
}

/*Скролл*/
.content__list::-webkit-scrollbar {
  width: 3px;  
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
  border-radius: 20px; 
}

/*Список карточек*/
.content__list {
  height: 298px;
  width: 398px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
}

.content__list .content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__list .content__list-item:first-child {
  margin-top: 2px;
}

/*Card-link*/
.content__card-link {
  text-decoration: none;
  display: block;
  height: 107px;
  text-decoration: none;
}

/*Card-Within*/
.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  grid-template-rows: 107px;
  justify-content: start;
}

.content__video-card-description-container {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.content__video-card-title {
  font-family: 'Oswald' , sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.content__video-card-description {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  object-position: center;
  align-self: center;
  padding-top: 2px;
}

/*Button-right_side*/
.more-button {
  width: 100%;
  margin-bottom: 1px;
}

/*Состояния карточек*/
.content__card-link_current {
  background-color: #545050;
}

/*Card_interaction*/
.content__video-card-description-container:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}
