/*-----------------Common__Section---------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  padding: 133px 30px;
  block-size: 100%;
  margin: auto; 
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/*---Button_Common----*/
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: inherit; 
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: 1px solid #FFF;
  outline-offset: -1px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

/*-----------------Content---------------------------*/
.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

/*-----------------Left_side-Result---------------------------*/
.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

/*Video*/
.result__video-container {
  display: flex;
  height: 388px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*Search_form_Common*/
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0;
  padding-left: 0;
}

/*Поиск_*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

/*заголовок*/
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  vertical-align: top;
}

/*Лэйбл-к*/
.search-form__label {
  width: fit-content;
  cursor: pointer;
  letter-spacing: 0px;
  display: flex;
}

.search-form__label:not(:last-child) {
  padding-right: 15px;
}

/*Поле ввода*/
.search-form__textfield {
  border: none;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  min-width: 225px;
  height: 27px;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
/*Обертка-чекбок*/
.search-form__checkbox-list {
  display: flex;
  width: 212px;
}

/*Чекбокс-квадратики*/
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  margin-right: 5px;
  vertical-align: middle;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}



/*-----------------Right_side-Content---------------------------*/
.content__details {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*Title*/
.title {
  height: 210px;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase; 
  letter-spacing: 0.2px;
}

.content__accent {
  color: #545050;
  line-height: 97%;
  letter-spacing: 2px;

}

/*Скролл*/
.content__list::-webkit-scrollbar {
  width: 3px;  
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
  border-radius: 20px; 
}

/*Список карточек*/
.content__list {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.content__list .content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

/*Card-link*/
.content__card-link {
  text-decoration: none;
  display: block;
  height: 107px;
  text-decoration: none;
}

/*Card_interaction*/
.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-skip-ink: all;
  text-underline-position: under;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: 1px solid #FFF;
  outline-offset: -1px;
}

/*Card-Within*/
.content__video-card {
  display: grid;
  grid-template-columns: 202px 196px;
  grid-template-rows: 107px;
  justify-content: start;
  width: 399px;
  padding: 0 2px 2px 2px;
  background-color: #545050;
}

.content__video-card-description-container {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 70% ;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  align-self: center;
  padding-top: 2px;
}

/*Button-right_side*/
.more-button {
  width: 100%;
}

