*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  padding: 133px 30px; 
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  place-items: end stretch;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  padding-bottom: 0;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding-left: 0;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.content__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  /*webkit-scrollbar width: 0;*/
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block;
  height: 107px;
  width: 398px;
}

.content__card-link:hover {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  color: #FFF;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: 1px solid #FFF;
  outline-offset: -1px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  grid-template-rows: 103px;
  justify-items: start;
  padding: 2px;
}

.content__video-card-description-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {

  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: inherit; 
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: 1px solid #FFF;
  outline-offset: -1px;
}

.more-button {
  width: 100%;
}